body {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e6e6e6;

}

header {
  width: 50%;
  height:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{

}

a{
  text-decoration: none;
  color: black;
}

img{
  width: 250px;
  height: auto;

}

ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 20px;
  list-style-type: none;

}

.picture{

}

.contenutxt {
  width: 50%;
  margin-left: 10%;
  margin-right: 10%;
}
.social{
  width: 250px;
  height:auto;
  justify-content: space-around;
  margin: auto;

}

footer{
  display: flex;

}

footer > img{
  width: 100%;
}


li{

}

section {
  width: 100%;
  display: flex;
  justify-content: space-around;
  border: 2px solid;
  margin-top: 10px
}

#gdw, #mb{
  display: flex;
  flex-direction: row-reverse;
}

.social > ul{
  justify-content: start;
  margin-left: -45px;
}

#gdw .social > ul{
  margin-left: 45px;
}
#mb .social >ul{
  margin-left: 45px;
}

.social > ul > li{
  margin: 10px;
}

#oc{
  background-color: #e9d758;
}
#gdw{
  background-color: #297373;
}
#nj{
  background-color: #ff8552;
}
#mb{
  background-color: #afa060;
}
